<nav id="nav">
    <div class="nav-btn">
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
    </div>
    <div class="nav">
        <menu class="nav-item-menu">

            {% for item in menu.groups.all.0.items.all %}
                <li class="nav-item"><a data-content="{{ item.name }}" href="{{ item.url }}" class="">{{ item.name }}</a></li>
            {% endfor %}
        </menu>
        <menu class="nav-item-submenu">
            {% for item in menu.groups.all.1.items.all %}
                <li class="nav-item-sub"><a data-content="{{ item.name }}" href="{{ item.url }}" class="">{{ item.name }}</a></li>
            {% endfor %}
        </menu>
    </div>
</nav>
